# Default owners for everything
* @catbee-technologies/catbee-admins

# Documentation ownership
*.md @catbee-technologies/catbee-documentation
*.mdx @catbee-technologies/catbee-documentation

# CI/CD configuration
.github/** @catbee-technologies/catbee-cicd

# Workflow security ownership
.github/workflows/** @catbee-technologies/catbee-security

# Package files ownership
package.*json @catbee-technologies/catbee-security
